body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  font-family: "Rubik", sans-serif;
}

#timetime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p,
h1 {
  text-align: center;
}

.time {
  font-size: 30pt;
}

.ender {
  font-size: 20pt;
}

.timehold p {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(-45deg, #444d49, #66736d, #b1bab6, #8b9892);
  background-size: 400% 400%;
  animation: infiniwaves 15s ease infinite;
}

@keyframes infiniwaves {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 768px) {
  #timetime {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
